<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>485058889817-e06e9bqfnl6p9vaqeui8tcuoogqf7b63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485058889817-e06e9bqfnl6p9vaqeui8tcuoogqf7b63</string>
	<key>API_KEY</key>
	<string>AIzaSyAlDTjEtRplw0hEaJ79PHbc6mUT2pn0BH8</string>
	<key>GCM_SENDER_ID</key>
	<string>485058889817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>weather-pwa-890fc</string>
	<key>PROJECT_ID</key>
	<string>weather-pwa-890fc</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-pwa-890fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485058889817:ios:5bb30a61310eddf4</string>
	<key>DATABASE_URL</key>
	<string>https://weather-pwa-890fc.firebaseio.com</string>
</dict>
</plist>